
header {
  background: 	#C0C0C0;
  padding: 14px;
text-align: center;

}

header ul {
  list-style-type: none;
  display: inline-block;
}

header li {
  display: inline-block;
  border: 1px solid #ffffff;
}

header a {
  text-decoration: none;

  color : #ffffff;
  padding: 12px;
  display: inline-block;

}
.hero {
  width: 100%;
  background: rgb(08, 0, 0) url('images/esopo.jpg') center no-repeat;
  color : #ffffff;
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
.hero h1 {
  background-color: rgba(200, 200, 200, 0.5);
}

section {

  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.odd {
  background: 	#A9A9A9

}

.even {
  background: #F5F5F5
}
.image-block {
  max-width: 640px;
  border: 12px solid #000;
}
.illustration{
  flex-basis: 480px;
}
.textcontent{
  flex-basis: 480px
}

.image-block img {
  width : 100%;
display:block;
}
